<form [formGroup]="orgNewForm" (ngSubmit)="addOrg($event)">
  <div class="ui form">

    <div class="field">
      <label for="org-id">Organization ID </label>
      <input formControlName="orgID" type="text" id="org-id">
    </div>

    <div formGroupName="orgCompanyInfo">
      <div class="ui raised segment">
        <a class="ui blue ribbon label">Company Info</a>
        <div class="two fields">
          <div class="field">
            <label for="org-upo">UPO </label>
            <input formControlName="upo" type="text" id="org-upo">
          </div>
          <div class="field">
            <label for="org-name">Organization Name</label>
            <input formControlName="orgName" type="text" id="org-name" >
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label for="sfdf-deal-no">SFDF Deal ID</label>
            <input formControlName="sfdfDealID" type="text" id="sfdf-deal-no">
          </div>
          <div class="field">
            <label>Language</label>
            <select formControlName="language" class="ui search dropdown">
              <option value="">Select Language</option>
              <option value="AF">English British</option>
              <option value="AX">Mexican</option>
            </select>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label for="customer-url">Customer URL</label>
            <input formControlName="customerURL" type="text" id="customer-url">
          </div>
          <div class="field">
            <label>Industry</label>
            <select formControlName="industry" class="ui search dropdown">
              <option value="">Select Industry</option>
              <option value="AF">Business</option>
              <option value="AX">Personal</option>
            </select>
          </div>
        </div>
        <div class = "two fields">
          <div class = "field">
            <label for = "est-annual-rev-sales">Est. Annual Rev. Sales </label>
            <input formControlName="estAnnualRevSales" type = "text" id = "est-annual-rev-sales">
          </div>
          <div class = "field">
            <label for = "est-number-employees">Est. Number of Employees</label>
            <input formControlName="estNumberOfEmployees" type = "text" id = "est-number-employees">
          </div>
        </div>

      </div>
    </div>

    <br>

    <div formGroupName="orgAddress">
      <div class="ui raised segment">
        <a class="ui blue ribbon label">Address</a>
        <div class="two fields">
          <div class="field">
            <label for="org-street1">Street 1</label>
            <input formControlName="street1" type="text" id="org-street1">
          </div>
          <div class="field">
            <label for="org-street2">Street 2</label>
            <input formControlName="street2" type="text" id="org-street2">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label for="org-city">City</label>
            <input formControlName="city" type="text" id="org-city">
          </div>
          <div class="field">
            <select formControlName="state" class="ui search dropdown">
              <option value="">Select State</option>
              <option value="AF">California</option>
              <option value="AX">Siberia</option>
              <option value="AL">Albania</option>
              <option value="DZ">Algeria</option>
            </select>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Country</label>
            <select formControlName="country" class="ui search dropdown">
              <option value="">Select Country</option>
              <option value="AF">Afghanistan</option>
              <option value="AX">Åland Islands</option>
              <option value="AL">Albania</option>
              <option value="DZ">Algeria</option>
            </select>
          </div>
          <div class="field">
            <label for="org-zip">Postal code/Zip</label>
            <input formControlName="zip" type="text" id="org-zip">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label for="org-phone">Phone</label>
            <input formControlName="phone" type="text" id="org-phone">
          </div>
          <div class="field">
            <label for="org-fax">Fax</label>
            <input formControlName="fax" type="text" id="org-fax">
          </div>
        </div>


      </div>
    </div>

    <br>

    <div formGroupName="orgContactBilling">
      <div class="ui raised segment">
        <a class="ui blue ribbon label">Contact Billing</a>
        <div class="two fields">
          <div class="field">
            <label for="first-name">First Name</label>
            <input formControlName="firstName" type="text" id="first-name">
          </div>
          <div class="field">
            <label for="last-name">Last Name</label>
            <input formControlName="lastName" type="text" id="last-name">
          </div>
        </div>
        <div class="three fields">
          <div class="field">
            <label for="org-title">Title</label>
            <input formControlName="title" type="password" id="org-title">
          </div>
          <div class="field">
            <label>Job Function</label>
            <select formControlName="jobFunction" class="ui search dropdown">
              <option value=""></option>
              <option value="AF">ftgh</option>
              <option value="AX">tyh</option>
            </select>
          </div>
          <div class="field">
            <label>Department</label>
            <select formControlName="department" class="ui search dropdown">
              <option value=""></option>
              <option value="AF">tyu</option>
              <option value="AX">uio</option>
            </select>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label for="org-email">Email</label>
            <input formControlName="email" type="password" id="org-email">
          </div>
          <div class="field">
            <label for="work-phone">Work Phone</label>
            <input formControlName="workPhone" type="password" id="work-phone">
          </div>
        </div>
      </div>
    </div>

    <br>

    <div formGroupName="orgContactBusiness">
      <div class="ui raised segment">
        <a class="ui blue ribbon label">Contact Business</a>
        <div class="two fields">
          <div class="field">
            <label for="first-name-business">First Name</label>
            <input formControlName="firstNameBusiness" type="text" id="first-name-business">
          </div>
          <div class="field">
            <label for="last-name-business">Last Name</label>
            <input formControlName="lastNameBusiness" type="text" id="last-name-business">
          </div>
        </div>
        <div class="three fields">
          <div class="field">
            <label for="org-title-business">Title</label>
            <input formControlName="titleBusiness" type="text" id="org-title-business">
          </div>
          <div class="field">
            <label>Job Function</label>
            <select formControlName="jobFunctionBusiness" class="ui search dropdown">
              <option value=""></option>
              <option value="AF">ftgh</option>
              <option value="AX">tyh</option>
            </select>
          </div>
          <div class="field">
            <label>Department</label>
            <select formControlName="departmentBusiness" class="ui search dropdown">
              <option value=""></option>
              <option value="AF">tyu</option>
              <option value="AX">uio</option>
            </select>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label for="org-email-business">Email</label>
            <input formControlName="emailBusiness" type="text" id="org-email-business">
          </div>
          <div class="field">
            <label for="work-phone-business">Work Phone</label>
            <input formControlName="workPhoneBusiness" type="text" id="work-phone-business">
          </div>
        </div>
      </div>
    </div>

    <br>

    <div formGroupName="orgAgents">
      <div class="ui raised segment">
        <a class="ui blue ribbon label">Contact Billing</a> <div class="field">
        <label>Initial SR</label>
        <select formControlName="initialSR" class="ui search dropdown">
          <option value=""></option>
          <option value="AF">ftgh</option>
          <option value="AX">tyh</option>
        </select>
      </div>
        <div class="field">
          <label>Current Owner</label>
          <select formControlName="currentOwner" class="ui search dropdown">
            <option value=""></option>
            <option value="AF">ftgh</option>
            <option value="AX">tyh</option>
          </select>
        </div>
        <div class="field">
          <label>Sales Engineer</label>
          <select formControlName="salesEngineer" class="ui search dropdown">
            <option value=""></option>
            <option value="AF">ftgh</option>
            <option value="AX">tyh</option>
          </select>
        </div>
        <div class="field">
          <label>Sales Access</label>
          <select formControlName="salesAccess" class="ui search dropdown">
            <option value=""></option>
            <option value="AF">ftgh</option>
            <option value="AX">tyh</option>
          </select>
        </div>
      </div>

      </div>



  </div>

  <br>

  <div align="right">
    <div class="ui buttons">
      <button class="ui button" routerLink = "/vieworganization" >Cancel</button>
      <div class="or"></div>
      <button class="ui positive button" type="submit" value="Save">Save</button>
    </div>
  </div>
</form>
