<div>
  <div class="top-menu">
  <ul >
    <li (click)="changeTab('basic')" [ngClass]="{'active-tab' : 'basic' == selectedTab}">Basic Details</li>
    <li (click)="changeTab('contact')" [ngClass]="{'active-tab' : 'contact' == selectedTab}">Contact</li>
    <li (click)="changeTab('work')" [ngClass]="{'active-tab' : 'work' == selectedTab}">Work</li>
    <li (click)="changeTab('settings')" [ngClass]="{'active-tab' : 'settings' == selectedTab}">Settings</li>
  </ul>
    </div>

<form [formGroup]="profileEditForm" (ngSubmit)="saveProfile($event)">
  <div id = "menubox">
    <div id="profileForm" >
      <div class="ui form">
        <div class='col-sm-12' [ngClass]="{'active' : 'basic' == selectedTab}">
          <div class="column">
            <div class="ui  segment">
                <div class="field">
                  <label for="profile-firstName">First Name</label>
                  <input formControlName="firstName" [(ngModel)]=" data.firstName" id="profile-firstName">
                </div>
                <div class="field">
                  <label for="profile-lastName">Last Name</label>
                  <input type="text" formControlName="lastName" [(ngModel)]=" data.lastName " id="profile-lastName">
                </div>
                <div class="field">
                  <label>Gender</label>
                  <div class="field"> <input type="radio" value="Male" formControlName="gender" name="gender" [(ngModel)]="data.gender" checked="checked">Male</div>
                  <div class="field"> <input type="radio" value="Female" formControlName="gender" name="gender" [(ngModel)]="data.gender" checked="checked">Female</div>
                  <div class="field"> <input type="radio" value="Others" formControlName="gender" name="gender" [(ngModel)]="data.gender" checked="checked">Others</div>
                </div>
            </div>
          </div>
        </div>
        <div class='col-sm-12' [ngClass]="{'active' : 'contact' == selectedTab}">
          <div class="column">
            <div class="ui  segment">
              <!--<h3>Phone Number</h3>-->
              <div class="three fields">
                <div class="field">
                  <label for="work">Work</label>
                  <input formControlName="work" [(ngModel)]=" data.work" id="work">
                </div>
                <div class="field">
                  <label for="cell">Cell</label>
                  <input formControlName="cell" [(ngModel)]=" data.cell " id="cell">
                </div>
                <div class="field">
                  <label for="home">Home</label>
                  <input formControlName="home" [(ngModel)]=" data.home " id="home">
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui  segment">
              <!--<h3>Email</h3>-->
              <div class="field">
                <label for="email">E-Mail</label>
                <input formControlName="email" [(ngModel)]=" data.email" id="email">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui  segment">
              <h4>Address</h4>
              <div class="field">
                <label for="street1">Street 1</label>
                <input formControlName="street1" [(ngModel)]=" data.street1" id="street1">
              </div>
              <div class="field">
                <label for="street2">Street 2</label>
                <input type="text" formControlName="street2" [(ngModel)]=" data.street2 " id="street2">
              </div>
              <div class="field">
                <label for="city">City</label>
                <input type="text" formControlName="city" [(ngModel)]=" data.city " id="city">
              </div>
              <div class="field">
                <label for="state">State/Province</label>
                <input type="text" formControlName="state" [(ngModel)]=" data.state " id="state">
              </div>
              <div class="field">
                <label for="zip">Postal/Zip</label>
                <input type="text" formControlName="zip" [(ngModel)]=" data.zip " id="zip">
              </div>
              <div class="field">
                <label for="country">Country</label>
                <input type="text" formControlName="country" [(ngModel)]=" data.country " id="country">
              </div>
              <div class="field">
                <label for="county">County</label>
                <input type="text" formControlName="county" [(ngModel)]=" data.county " id="county">
              </div>
            </div>
          </div>
        </div>
        <div class='col-sm-12' [ngClass]="{'active' : 'work' == selectedTab}">
          <div class="column">
            <div class="ui  segment">
              <!--<h3>Work</h3>-->
              <div class="field">
                <label for="group">Group</label>
                <input formControlName="group" [(ngModel)]=" data.group" id="group">
              </div>
              <div class="field">
                <label for="team">Team(s)</label>
                <input type="text" formControlName="team" [(ngModel)]=" data.team " id="team">
              </div>
              <div class="field">
                <label for="role">Role(s)</label>
                <input type="text" formControlName="role" [(ngModel)]=" data.role " id="role">
              </div>
              <div class="field">
                <label for="reportsTo">Reports to</label>
                <input type="text" formControlName="reportsTo" [(ngModel)]=" data.reportsTo " id="reportsTo">
              </div>
            </div>
          </div>
        </div>
        <div class='col-sm-12' [ngClass]="{'active' : 'settings' == selectedTab}">
          <div class="column">
            <div class="ui raiser segment">
              <!--<h3>Settings</h3>-->
              <div class="field">
                <label for="login">Login Name</label>
                <input formControlName="login" [(ngModel)]=" data.login" id="login">
              </div>
              <div class="field">
                <label for="pass">Password</label>
                <input formControlName="pass" [(ngModel)]=" data.pass" id="pass">
              </div>
              <div class="field">
                <label for="confirmPass">Confirm Password</label>
                <input formControlName="confirmPass" [(ngModel)]=" data.confirmPass" id="confirmPass">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top:30px;" align="right">
  <div class="ui buttons">
    <button class="ui positive button" type="submit" value="Save">Update</button>
  </div>
  </div>
</form>
</div>

