<div>
 <div class="ui top attached demo menu" style="background-color: cornflowerblue">
   <a class="item" style="background-color: royalblue" (click)="invertedSidebar.show({transition: 'overlay'})">
     <i class="sidebar icon"></i>
     BLiS
   </a>
   <div class="right menu">
     <div class="item" style="background-color: cornflowerblue">
       <div class="ui icon input">
         <input placeholder="Search..." type="text">
         <i class="search link icon"></i>
       </div>
     </div>
     <a class="ui item" style="background-color: cornflowerblue">
       {{'User Name '}}
       <i class="spy icon"></i>
     </a>
   </div>
 </div>


  <div class="ui bottom attached segment pushable" style="background-color: cornflowerblue">
    <sm-sidebar class="ui inverted labeled icon left inline vertical sidebar menu" style="background-color: cornflowerblue" #invertedSidebar>
      <a class="item" style="background-color: royalblue">
        <i class="map outline icon"></i>
        BLiS
      </a>
      <a class="item" style="background-color: cornflowerblue" routerLink="/blis">
        <i class="dashboard icon"></i>
        Home
      </a>
      <a class="item" style="background-color: cornflowerblue" routerLink="/blis/profile">
        <i class="user icon"></i>
        Profile
      </a>
      <a class="item" style="background-color: cornflowerblue" routerLink="/blis/users">
        <i class="child icon"></i>
        Users
      </a>
      <a class="item" style="background-color: cornflowerblue" routerLink="/blis/teams">
        <i class="users icon"></i>
        Teams
      </a>
      <a class="item" style="background-color: cornflowerblue" routerLink="/blis/roles">
        <i class="travel icon"></i>
        Roles
      </a>
      <a class="item" style="background-color: cornflowerblue" routerLink="/blis/realign">
        <i class="legal icon"></i>
        Realignment Tool
      </a>
      <a class="item" style="background-color: cornflowerblue">
        <i class="help icon"></i>
        Help
      </a>
      <a class="item" style="background-color: cornflowerblue">
        <i class="warning sign icon"></i>
        Report
      </a>

    </sm-sidebar>
  </div>


</div>
