<div class="ui form">

  <div class="ui three column grid">

    <div class="column">
      <div class="ui orange segment">
        <div class="field">
          <p>Total Status New Orders</p>
          <p>{{data.newOrders}}</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui orange segment">
        <div class="field">
          <p>Total Status Pending Correction Orders</p>
          <p>{{data.pendingCorrections}}</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui orange segment">
        <div class="field">
          <p>Total Outstanding</p>
          <p>{{data.outStanding}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui three column grid">
    <div class="column">
      <div class="ui orange segment">
        <div class="field">
          <p>Total Status Accepted Orders</p>
          <p>{{data.accepted}}</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui orange segment">
        <div class="field">
          <p>Total Status Pending Effective Orders</p>
          <p>{{data.effective}}</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui orange segment">
        <div class="field">
          <p>Total Processed</p>
          <p>{{data.processed}}</p>
        </div>
      </div>
    </div>
  </div>
</div>



