<div class="ui large form">

  <div class="ui form">
    <div class="inline fields">
      <label>Realign:</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input name="realign-ck" checked="checked" type="radio">
          <label>Organisation</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input name="realign-ck" type="radio">
          <label>Accounts</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input name="realign-ck" type="radio">
          <label>Serivces</label>
        </div>
      </div>
    </div>
  </div>

  <div class="ui raised segment">
    <div class="six fields">
      <div class="field">
        <select class="ui search dropdown">
          <option value="">Function</option>
          <option value="f1">function1</option>
          <option value="f2">function2</option>
          <option value="f3">function3</option>
          <option value="f4">function4</option>
        </select>
      </div>
      <div class="field">
        <select class="ui search dropdown">
          <option value="">Group</option>
          <option value="g1">Group1</option>
          <option value="g2">Group2</option>
          <option value="g3">Group3</option>
          <option value="g4">Group4</option>
        </select>
      </div>
      <div class="field">
        <select class="ui search dropdown">
          <option value="">Name</option>
          <option value="n1">Name1</option>
          <option value="n2">Name2</option>
          <option value="n3">Name3</option>
        </select>
      </div>
    </div>
    <!--<div align="right" class="field">
      <div class="ui buttons">
        <button class="ui button">De-Select All</button>
        <div class="or"></div>
        <button class="ui positive button">Select All</button>
      </div>
    </div>-->
    <textarea type="text"></textarea>
    <br><br>
  </div>
  <div align="center">
    <div class="ui vertical animated button" tabindex="0">
      <div class="hidden content">Down</div>
      <div class="visible content">
        <i class="arrow down icon"></i>
      </div>
    </div>
    <div class="ui vertical animated button" tabindex="0">
      <div class="hidden content">Up</div>
      <div class="visible content">
        <i class="arrow up icon"></i>
      </div>
    </div>
  </div>
  <div class="ui raised segment">
    <div class="six fields">
      <div class="field">
        <select class="ui search dropdown">
          <option value="">Group</option>
          <option value="g1">Group1</option>
          <option value="g2">Group2</option>
          <option value="g3">Group3</option>
          <option value="g4">Group4</option>
        </select>
      </div>
      <div class="field">
        <select class="ui search dropdown">
          <option value="">Name</option>
          <option value="n1">Name1</option>
          <option value="n2">Name2</option>
          <option value="n3">Name3</option>
        </select>
      </div>
    </div>
    <!--<div align="right" class="field">
      <div class="ui buttons">
        <button class="ui button">De-Select All</button>
        <div class="or"></div>
        <button class="ui positive button">Select All</button>
      </div>
    </div>-->
    <textarea type="text"></textarea>
    <br><br>
  </div>
  <br>
  <div align="center" class="field">
    <div class="ui buttons">
      <button class="ui button">Cancel</button>
      <div class="or"></div>
      <button class="ui positive button">Submit</button>
    </div>
  </div>
  <br>
</div>
