<div id="ord-row" class = "ui grid" (click)="clicked">
  <div class="one wide column"></div>
  <div class="one wide column">{{data.ordID}}</div>
  <div class="one wide column">Contract Scan</div>
  <div class="one wide column">Ops Needed</div>
  <div class="one wide column">Provisioning</div>
  <div class="two wide column"></div>
  <div class="one wide column">Sales Rep</div>
  <div class="one wide column">Sales Manager</div>
  <div class="one wide column">Account Type</div>
  <div class="one wide column">Service</div>
  <div class="one wide column">Order Type</div>
  <div class="one wide column">Order Creation Date</div>
  <div class="one wide column">Effective Date</div>
  <div class="one wide column">{{data.organiza}}</div>
  <div class="one wide column">Order FormID</div>
  <div class="one wide column">CMT Owner</div>
</div>

