<div class="ui form">
    <div class="ui raised segment">
        <a class = "ui red ribbon label">Address Billing</a>
        <div class = "two fields">
            <div class = "field">
                <label for = "acc-street1">Street1</label>
                <input formControlName="street1" type = "text" id = "acc-street1">
            </div>
            <div class = "field">
                <label for = "acc-street2">Street2</label>
                <input formControlName="street2" type = "text" id = "acc-street2">
            </div>
        </div>
        <div class = "two fields">
            <div class = "field">
                <label for = "acc-city">City</label>
                <input formControlName="city" type = "text" id = "acc-city">
            </div>
            <div class = "field">
                <label>State</label>
                <select formControlName="state" class="ui search dropdown">
                    <option value="">Select State</option>
                    <option value="AF">TamilNadu</option>
                    <option value="AX">Karnataka</option>
                    <option value="AL">Gujurat</option>
                    <option value="DZ">Nagaland</option>
                </select>
            </div>
        </div>
        <div class = "two fields">
            <div class = "field">
                <label>Country</label>
                <select formControlName="country" class="ui search dropdown">
                    <option value="">Select Country</option>
                    <option value="AF">Afghanistan</option>
                    <option value="AX">Åland Islands</option>
                    <option value="AL">Albania</option>
                    <option value="DZ">Algeria</option>
                </select>
            </div>
            <div class = "field">
                <label for = "acc-zip">Zip Postal Code</label>
                <input formControlName="zip" type = "text" id = "acc-zip">
            </div>
        </div>
        <div class = "two fields">
            <div class = "field">
                <label for = "acc-phone">Phone</label>
                <input formControlName="phone" type = "text" id = "acc-phone">
            </div>
            <div class = "field">
                <label for = "acc-fax">Street2</label>
                <input formControlName="fax" type = "text" id = "acc-fax">
            </div>
        </div>

    </div>
</div>