<div id="user-head" class="ui grid">
  <div class="three wide column" (click)="clickedField('orgID')">Organization ID</div>
  <div class="two wide column" (click)="clickedField('orgName')">Organization Name</div>
  <div class="two wide column" (click)="clickedField('parentOrg')">Parent Organization</div>
  <div class="three wide column" (click)="clickedField('upo')">UPO</div>
  <div class="two wide column" (click)="clickedField('companyURL')">Company URL</div>
  <div class="two wide column" (click)="clickedField('lastModified')">lastModified</div>
  <div class="two wide column" (click)="clickedField('status')">Status</div>
</div>