<div id="user-row" class = "ui grid" (click)="clicked">
  <div class="two wide column">{{data.orgID}}</div>
  <div class="three wide column">{{ data.orgCompanyInfo.orgName }}</div>
  <div class="two wide column">{{ data.orgCompanyInfo.parentOrg }}</div>
  <div class="two wide column">{{ data.orgCompanyInfo.upo}}</div>
  <div class="three wide column">{{ data.orgCompanyInfo.companyURL }}</div>
  <div class="two wide column">{{ data.orgCompanyInfo.lastModified}}</div>
  <div class="two wide column">{{ data.orgCompanyInfo.status }}</div>
</div>

