<p>Organization</p>
<div class="ui form">
  <p class="ui dividing header">Customer Details</p>
  <form>
  <div class="field">
    <label>Org Name</label>
    <input type="text">
  </div>
  <div class="field">
    <label>Alias</label>
    <input type="text">
  </div>
  <div class="field">
    <label>Org URL</label>
    <input type="text">
  </div>
  <div class="field">
    <label>Est.Annual Revenue Sales</label>
    <input type="text">
  </div>
  <div class="field">
    <label>Est.Annual Revenue Sales</label>
    <input type="text">
  </div>
  </form>
</div>

