<app-roles-heading (fieldSelected)="sortData($event)" ></app-roles-heading>
<div class="table-content">
  <app-roles-data-row *ngFor="let role of paginatedRoles[currentPage]" [data]="role" (click)="clickRow(role)" [ngClass]="{'selected' : role.id == lastSelectedRow.id}"></app-roles-data-row>
</div>
<br><br>
<ul>
  <li *ngFor="let x of paginatedRoles, let i = index" (click)="changePage(i)" [ngClass]="{'selected' : i == currentPage}">{{  i+1 }}</li>
</ul>

<div align="center">
  <div class="ui large buttons">
    <button class="ui secondary button" [routerLink]="['/roles/edit', lastSelectedRow.id]" [disabled]="lastSelectedRow.id == undefined">Edit</button>
    <div class="or"></div>
    <button class="ui primary button" [routerLink]="['/roles/new']">New</button>
    <div class="or"></div>
    <button class="ui negative button" [disabled]="lastSelectedRow.id == undefined" (click)="inActivate()">Delete</button>
  </div>
</div>
