<p>Orders Count</p>
<div class="ui statistics">
    <div class="statistic  ">
      <div class="number1">
        {{data.newOrders}}
      </div>
      <div class="font1">
        Total Status<br> New Orders
      </div>
      </div>
    <div class="statistic">
      <div class="number1">
        {{data.pendingCorrections}}
        </div>
      <div class="font1">
        Total Status Pending<br> Correction Orders
        </div>
      </div>
    <div class="statistic ">
      <div class="number1">
        {{data.outStanding}}
      </div>
      <div class="font1">
        Total Outstanding
      </div>
    </div>
  </div>



<div class="ui statistics">
  <div class="statistic">
    <div class="number1">
      {{data.accepted}}
    </div>
    <div class="font1">
      Total Status<br>Accepted Orders
    </div>
  </div>
  <div class="statistic">
    <div class="number1">
      {{data.effective}}
    </div>
    <div class="font1">
      Total Status <br>Pending Effective Orders
    </div>
  </div>
  <div class="statistic">
    <div class="number1">
      {{data.processed}}
    </div>
    <div class="font1">
      Total Proccessed
    </div>
  </div>
</div>

<br><br>

<div align="center">
  <div class="ui large button">
<a [routerLink]="['/vieworganization']">
  <div class = "ui icon button" data-tooltip="View organization"><i class="huge user icon"></i>
  </div>
</a>


<a [routerLink]="['/organization']">
  <div class = "ui icon button" data-tooltip="Organization"><i class="huge child icon" (onmouseover)="{selectedIcon : true}"></i>
  </div>
</a>

<a [routerLink]="['/orders']">
  <div class = "ui icon button" data-tooltip="Orders"><i class="huge users icon"></i>
  </div>
</a>

<a [routerLink]="['/accounts']">
  <div class = "ui icon button" data-tooltip="Accounts"><i class="huge archive icon"></i>
  </div>
</a>

<a [routerLink]="['/CMTAlignment']">
  <div class = "ui icon button" data-tooltip="CMT Alignment"><i class="huge travel icon"></i>
  </div>
</a>
</div>
</div>







