<app-users-heading (fieldSelected)="sortData($event)" ></app-users-heading>
<div class="table-content">
<app-users-data-row *ngFor="let user of paginatedUsers[currentPage]" [data]="user" (click)="clickRow(user)" [ngClass]="{'selected' : user.onlineName == selectedRow.onlineName}"></app-users-data-row>
</div>
<br><br>

<ul>
  <li *ngFor="let x of paginatedUsers, let i = index" (click)="changePage(i)" [ngClass]="{'selected' : i == currentPage}">{{  i+1 }}</li>
</ul>

<div align="center">
  <div class="ui large buttons">
    <button class="ui secondary button" [routerLink]="['/users/edit', selectedRow.onlineName]" [disabled]="selectedRow.onlineName == undefined">Edit</button>
    <div class="or"></div>
    <button class="ui primary button" [routerLink]="['/users/new']">New</button>
    <div class="or"></div>
    <button class="ui negative button" [disabled]="selectedRow.onlineName == undefined">Inactivate</button>
    <div class="or"></div>
    <button class="ui positive button" [disabled]="selectedRow.onlineName == undefined">Reactivate</button>
  </div>

</div>
