<p>Orders Count</p>
<div class="ui form">
  <div class="fields">
    <div class="field">
      <label>Total Status New Orders </label>
      <div>1301</div>
    </div>
    <div class="field">
      <label>Total Status Pending Correction Orders</label>
      <div>3110</div>
    </div>
    <div class="field">
      <label>Total Outstanding</label>
      <div>3101</div>
    </div>
  </div>
</div>
<div class="ui form">
  <div class="fields">
    <div class="field">
      <label>Total Status Accepted Orders </label>
      <div>2503</div>
    </div>
    <div class="field">
      <label>Total Status Pending Effective Orders</label>
      <div>1303</div>
    </div>
    <div class="field">
      <label>Total Proccessed</label>
      <div>2010</div>
    </div>
  </div>
</div>


<a [routerLink]="['']"><i class="square outline icon"></i></a>

<a [routerLink]="['/vieworganization']"><i class="square outline icon"></i></a>

<a [routerLink]="['/organization']"><i class="square outline icon"></i></a>

<a [routerLink]="['/orders']"><i class="square outline icon"></i></a>

<a [routerLink]="['/dashboard']"><i class="square outline icon"></i></a>

<a [routerLink]="['/CMTAlignment']"><i class="square outline icon"></i></a>










