<p>Orders Count</p>
<div class="ui form">
  <div class="three fields">
    <div class="field">
      <label>Total Status New Orders </label>
      <div>1301</div>
    </div>
    <div class="field">
      <label>Total Status Pending Correction Orders</label>
      <div>3110</div>
    </div>
    <div class="field">
      <label>Total Outstanding</label>
      <div>3101</div>
    </div>
  </div>
</div>
<div class="ui form">
  <div class="three fields">
    <div class="field">
      <label>Total Status Accepted Orders </label>
      <div>2503</div>
    </div>
    <div class="field">
      <label>Total Status Pending Effective Orders</label>
      <div>1303</div>
    </div>
    <div class="field">
      <label>Total Proccessed</label>
      <div>2010</div>
    </div>
  </div>
</div>
<div align="center">
<a [routerLink]="['/vieworganization']">
  <div class = "ui icon button" data-tooltip="View organization"><i class="user icon"></i>
  </div>
</a>


<a [routerLink]="['/organization']">
  <div class = "ui icon button" data-tooltip="Organization"><i class="child icon"></i>
  </div>
</a>

<a [routerLink]="['/orders']">
  <div class = "ui icon button" data-tooltip="Orders"><i class="users icon"></i>
  </div>
</a>

<a [routerLink]="['/dashboard']">
  <div class = "ui icon button" data-tooltip="Dashboard"><i class="dashboard icon"></i>
  </div>
</a>

<a [routerLink]="['/CMTAlignment']">
  <div class = "ui icon button" data-tooltip="CMT Alignment"><i class="travel icon"></i>
  </div>
</a>
</div>










