<p>Orders Count</p>
<div class="ui form">
  <div class="fields">
    <div class="field">
      <label>Total Status New Orders </label>
      <input type="text">
    </div>
    <div class="field">
      <label>Total Status Pending Correction Orders</label>
      <input type="text">
    </div>
    <div class="field">
      <label>Total Outstanding</label>
      <input type="text">
    </div>
  </div>
</div>
<div class="ui form">
  <div class="fields">
    <div class="field">
      <label>Total Status Accepted Orders </label>
      <input type="text">
    </div>
    <div class="field">
      <label>Total Status Pending Effective Orders</label>
      <input type="text">
    </div>
    <div class="field">
      <label>Total Proccessed</label>
      <input type="text">
    </div>
  </div>
</div>

<div>{{response | json}}</div>
<i class="backward icon"></i>
<a href="dashboard" aria-label="View 3 items in your shopping cart">

</a>


