<!--<input type="checkbox" id="dashboard-sidebar-toggle">-->


<div id="dashboard-wrapper">

  <div id="dashboard-main">
    <div id="dashboard-header">
      <!--<label for="dashboard-sidebar-toggle" id="dashboard-sidebar-icon">≡</label>-->
      <app-search></app-search><div id="header-username">{{data.onlineName}}</div><div id="header-logout" (click)="logout()">logout</div>
    </div>
    <h1 id="dashboard-main-header">{{route[0] }} <span *ngIf="route[0] != 'search' && route[1] != 'view' && route.length >= 2"> &gt; {{route[1]}}</span></h1>
    <div id="dashboard-main-content" class="ui raised segment">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div id="dashboard-sidebar">
    <div id="sidebar-logo"> Cisco</div>
    <div id="dashboard-sidebar-profile">
      <!--<div id="user-icon"><i class="fa fa-user-secret" aria-hidden="true"></i>-->
      <!--</div>-->
      <!--<p id="dashboard-sidebar-profile-name">-->
        <!--{{ _loginService.getData().firstName + " " + _loginService.getData().lastName }}-->
      <!--</p>-->
      <img class="ui small circular image" src="../../assets/user-logo.png" id="sidebar-profile-pic">
      <p>{{data.firstName + " " + data.lastName}}</p>
    </div>

    <div *ngIf = "data.role == 'sales'">
    <div id="dashboard-sidebar-menu">
      <ul>
        <li [ngClass]="{'page-active' : route[0] == ''}"><a routerLink="/" ><i class="home icon"></i>Home</a></li>
        <li [ngClass]="{'page-active' : route[0] == 'users'}"><a routerLink="/users" ><i class="user icon"></i>Users</a></li>
        <li [ngClass]="{'page-active' : route[0] == 'roles'}"><a routerLink="/roles" ><i class="puzzle icon"></i>Roles</a></li>
        <li [ngClass]="{'page-active' : route[0] == 'teams'}"><a routerLink="/teams" ><i class="users icon"></i>Teams</a></li>
        <li [ngClass]="{'page-active' : route[0] == 'realign'}"><a routerLink="/realign" ><i class="move icon"></i>Re-Alignment Tool</a></li>
      </ul>

    </div>
    <div id="sidebar-submenu">
      <ul>
        <li><a routerLink="/profile">PROFILE</a></li>
        <li><a routerLink="/help">HELP</a></li>
        <li><a (click)="logout()">LOGOUT</a></li>
      </ul>
    </div>
    </div>

    <div *ngIf = "data.role != 'sales'">
      <div id="dashboard-sidebar-menu1">
        <ul>
          <li><a routerLink="/"><i class="home icon"></i>Dashboard</a></li>
          <li><a routerLink="/organization"><i class="users icon"></i>Organization</a></li>
          <li><a routerLink="/accounts"><i class="archive icon"></i>Accounts</a></li>
          <li><a routerLink="/orders"><i class="puzzle icon"></i>Orders</a></li>
        </ul>

      </div>
      <div id="sidebar-submenu1">
        <ul>
          <li><a routerLink="/help">HELP</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>
