ul {
  list-style: none;
}

#dashboard-wrapper {
  position: relative;
  z-index: 0;
}

#dashboard-main {
  position: relative;
  z-index: 1;
  margin: auto;
  height: 100vh;
  background: #EDEEF3;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding-left : 250px;
  overflow: hidden;
}
#dashboard-main #dashboard-header {
  height: 60px;
  background-color: #FFFFFF;
  color: #171717;
  font-size: 16px;
  margin:0;
  padding:0;
  border-bottom: 1px solid #ccc;
  /*text-align: center;*/
}
#dashboard-main #dashboard-header #dashboard-header-title {
  position: fixed;
  top: 16px;
  left: 45%;
  font-size: 30px;
  font-family: "Spin Cycle";
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#dashboard-main #dashboard-header #dashboard-header-profile {
  position: fixed;
  top: 22px;
  right: 90px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#dashboard-sidebar {
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  position: fixed;
  top: 0;
  left: 0px;
  width: 250px;
  height: 100vh;
  z-index: 10;
  box-shadow: 1px 0 5px #393D40;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  list-style: none;
}
/*#dashboard-sidebar li {*/
  /*cursor: pointer;*/
  /*margin: 0 0 30px 50px;*/
  /*color: rgba(255, 255, 255, 0.8);*/
/*}*/

#dashboard-sidebar ul{
  margin: 0;
  padding : 0;
}
/*#dashboard-sidebar li a:hover, #dashboard-sidebar li a:link, #dashboard-sidebar li a:visited {*/
  /*text-decoration: none;*/
  /*!*color: rgba(255, 255, 255, 0.8);*!*/
  /*color : white;*/
/*}*/

#dashboard-sidebar li a{
  text-decoration: none;
  color : black;
}

#dashboard-sidebar li a:hover{
  text-decoration: none;
  color : #eee;
}

#dashboard-sidebar li:hover {
  color: white;
}
#dashboard-sidebar li i {
  padding-right: 10px;
}
#dashboard-sidebar #dashboard-sidebar-profile {
  /*border-bottom: 1px solid #979797;*/
  /*margin-bottom: 30px;*/
  text-align: center;
}
#dashboard-sidebar #dashboard-sidebar-profile #user-icon {
  border-radius: 120px;
  font-size: 100px;
  margin: 30px 30px 20px 30px;
}
#dashboard-sidebar #dashboard-sidebar-profile p {
  margin: 0 0 20px 0;
}

#dashboard-sidebar-icon {
  position: fixed;
  top: 18px;
  color: #171717;
  left: 30px;
  font-size: 40px;
  z-index: 2;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/*#dashboard-sidebar-toggle {*/
  /*display: none;*/
/*}*/
/*#dashboard-sidebar-toggle:checked + #dashboard-wrapper #dashboard-sidebar {*/
  /*left: 0;*/
  /*-webkit-transition: 0.5s;*/
  /*-moz-transition: 0.5s;*/
  /*-ms-transition: 0.5s;*/
  /*-o-transition: 0.5s;*/
  /*transition: 0.5s;*/
/*}*/
/*#dashboard-sidebar-toggle:checked + #dashboard-wrapper #dashboard-main {*/
  /*padding-left: 200px;*/
  /*-webkit-transition: 0.5s;*/
  /*-moz-transition: 0.5s;*/
  /*-ms-transition: 0.5s;*/
  /*-o-transition: 0.5s;*/
  /*transition: 0.5s;*/
/*}*/
/*#dashboard-sidebar-toggle:checked + #dashboard-wrapper #dashboard-main #dashboard-header #dashboard-sidebar-icon {*/
  /*padding-left: 200px;*/
  /*-webkit-transition: 0.5s;*/
  /*-moz-transition: 0.5s;*/
  /*-ms-transition: 0.5s;*/
  /*-o-transition: 0.5s;*/
  /*transition: 0.5s;*/
/*}*/
/*#dashboard-sidebar-toggle:checked + #dashboard-wrapper #dashboard-main #dashboard-header #dashboard-header-title {*/
  /*left: 49%;*/
  /*-webkit-transition: 0.5s;*/
  /*-moz-transition: 0.5s;*/
  /*-ms-transition: 0.5s;*/
  /*-o-transition: 0.5s;*/
  /*transition: 0.5s;*/
/*}*/
/*#dashboard-sidebar-toggle:checked + #dashboard-wrapper #dashboard-main #dashboard-header #dashboard-header-profile {*/
  /*right: 70px;*/
  /*-webkit-transition: 0.5s;*/
  /*-moz-transition: 0.5s;*/
  /*-ms-transition: 0.5s;*/
  /*-o-transition: 0.5s;*/
  /*transition: 0.5s;*/
/*}*/


/*
  Search Bar

*/

app-search {
  min-width: 70%;
  background: #393D40;
  display: inline-block;
  min-height: 100%;
}


#header-username{
  display: inline-block;
  vertical-align: top;
  min-height: 59px;
  background: #1E2327;
  padding: 0px;
  width: 15%;
  color : #dddddd;
  text-align: center;
  padding-top: 17px;
}


#header-logout{
  display: inline-block;
  vertical-align: top;
  min-height: 59px;
  background: #1E2327;
  padding: 0px;
  width: 15%;
  color : #dddddd;
  text-align: center;
  padding-top: 17px;
  cursor: pointer;
}

#sidebar-logo{
  min-height: 60px;
  background: #FEBC48;
  text-align: center;
  padding-top: 13px;
}

#dashboard-sidebar-menu ul li{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  min-height: 50px;
  border-top: 1px solid #e0e2eb;
  text-align: center;
  padding-top: 14px;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#dashboard-sidebar-menu ul li:hover{
  background: #1E2327;
  /*color: #eeeeee;*/
  min-height: 60px;
  border-top: 1px solid #e0e2eb;
  text-align: center;
  padding-top: 19px;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#dashboard-sidebar-menu ul li:hover > a{
  color: #eee;
}

#dashboard-sidebar-menu ul a:hover{
  color: #eeeeee;
}

#dashboard-sidebar-menu ul li.page-active{
   background: #1E2327;
   /*color: #eeeeee;*/
   min-height: 60px;
   border-top: 1px solid #e0e2eb;
   text-align: center;
   padding-top: 19px;
   font-size: 14px;
   text-transform: uppercase;
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   -ms-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
  color : #eee;
 }

#dashboard-sidebar li.page-active  a{
  color : #eee;
}

#sidebar-profile-pic{
  margin : auto;
  padding-bottom : 14px;
}

/*
  Main area
*/

#dashboard-main-content{
  width: 90%;
  margin: auto;
  margin-top: 30px;
  max-height: 600px;
  overflow: scroll;
}

#sidebar-submenu{
  border-top: 1px solid #e0e2eb;
  width: 100%;
  /*margin-left: 20px;*/
  margin-top: 5px;
}

#sidebar-submenu ul li{
  font-size: 12px;
  padding-bottom: 7px;
  padding-top: 20px;
  padding-left: 20px;
}


#sidebar-submenu ul li:hover{
  color: black;
}


#sidebar-submenu1{
  border-top: 1px solid #e0e2eb;
  width: 82%;
  margin-left: 20px;
  margin-top: 5px;
}

#sidebar-submenu1 ul li{
  font-size: 12px;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 20px;
}

#dashboard-sidebar-menu1 ul li{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  min-height: 50px;
  border-top: 1px solid #e0e2eb;
  text-align: center;
  padding-top: 14px;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}



#dashboard-sidebar-menu1 ul li:hover{
  background: #1E2327;
  /*color: #eeeeee;*/
  min-height: 60px;
  border-top: 1px solid #e0e2eb;
  text-align: center;
  padding-top: 19px;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}



#dashboard-sidebar-menu1 ul li:hover > a{
  color: #eee;
}

#dashboard-sidebar-menu1 ul a:hover{
  color: #eeeeee;
}

#dashboard-main-header{
  padding-left: 5%;
  text-transform: uppercase;
  font-weight: 300;
  font-family: Lato;
  padding-bottom: 0;
  margin-bottom: 0;
}
