<div id="user-head" class="ui grid">
  <div class="three wide column" (click)="clickedField('name')">Name</div>
  <div class="two wide column" (click)="clickedField('onlineName')">Online Name</div>
  <div class="two wide column" (click)="clickedField('role')">Role</div>
  <div class="three wide column" (click)="clickedField('email')">Email</div>
  <div class="two wide column" (click)="clickedField('team')">Team</div>
  <div class="two wide column" (click)="clickedField('status')">Status</div>
  <div class="two wide column" (click)="clickedField('created')">Created on</div>
</div>
