<div class="table-heading ui grid">
  <div class="three wide column" (click)="clickedField('id')">Team ID</div>
  <div class="three wide column" (click)="clickedField('name')">Team Name</div>
  <div class="three wide column" (click)="clickedField('group')">Group</div>
  <div class="three wide column" (click)="clickedField('lead')">Team Lead</div>
  <div class="two wide column" (click)="clickedField('status')">Status</div>
  <div class="two wide column" (click)="clickedField('created')">Created on</div>
</div>
