<thead>
<tr id="user-head">
  <th class="two wide" (click)="clickedField('orgID')">Organization ID</th>
  <th class="three wide" (click)="clickedField('orgName')">Organization Name</th>
  <th class="two wide" (click)="clickedField('parentOrg')">Parent Organization</th>
  <th class="one wide" (click)="clickedField('upo')">UPO</th>
  <th class="three wide" (click)="clickedField('companyURL')">Company URL</th>
  <th class="two wide" (click)="clickedField('lastModified')">lastModified</th>
  <th class="two wide" (click)="clickedField('status')">Status</th>
</tr>
</thead>
