<div id="ord-row" class = "ui grid" (click)="clicked">
  <div class="one wide column">{{data.incorrectFlag}}</div>
  <div class="one wide column">{{data.orderID}}</div>
  <div class="one wide column">{{data.contractScan}}</div>
  <div class="one wide column">{{data.opsNeeded}}</div>
  <div class="one wide column">{{data.provisioning}}</div>
  <div class="one wide column">{{data.accountName}}</div>
  <div class="one wide column">{{data.salesRep}}</div>
  <div class="one wide column">{{data.salesManager}}</div>
  <div class="one wide column">{{data.accountType}}</div>
  <div class="one wide column">{{data.service}}</div>
  <div class="one wide column">{{data.orderType}}</div>
  <div class="one wide column">{{data.orderCreationDate}}</div>
  <div class="one wide column">{{data.effectiveDate}}</div>
  <div class="one wide column">{{data.orderStatus}}</div>
  <div class="one wide column">{{data.orderFormId}}</div>
  <div class="one wide column">{{data.CMTOwner}}</div>
</div>

