<div class="table-heading ui grid">
  <div class="two wide column" (click)="clickedField('id')">Role ID</div>
  <div class="two wide column" (click)="clickedField('name')">Role Name</div>
  <div class="two wide column" (click)="clickedField('group')">Group</div>
  <div class="two wide column" (click)="clickedField('date')">Date</div>
  <div class="three wide column" (click)="clickedField('user')">User</div>
  <div class="two wide column" (click)="clickedField('last_modified')">Last Modified Date</div>
  <div class="three wide column" (click)="clickedField('last_modified_user')">Last Modified User</div>
</div>
