<div class="ui form">
  <div class="ui raised segment">
    <a class="ui red ribbon label">Agents</a>
    <div class="field">
      <label>Initial Sales Rep</label>
      <select formControlName="initialSalesRep" class="ui search dropdown">
        <option value=""></option>
        <option value="AF">Tracy</option>
        <option value="AX">Åland </option>
        <option value="AL">Varsha</option>
        <option value="DZ">Trudy</option>
      </select>
    </div>
    <div class="field">
      <label>Current Owner</label>
      <select formControlName="currentOwner" class="ui search dropdown">
        <option value=""></option>
        <option value="AF">Chan</option>
        <option value="AX">MAdhu</option>
        <option value="AL">Alko</option>
        <option value="DZ">Algae</option>
      </select>
    </div>
    <div class="field">
      <label>CSM</label>
      <select formControlName="csm" class="ui search dropdown">
        <option value=""></option>
        <option value="AF">vgh</option>
        <option value="AX">huewik</option>
        <option value="AL">iopej</option>
        <option value="DZ">dfejwyd</option>
      </select>
    </div>
    <div class="field">
      <label>Sales Engineer</label>
      <select formControlName="salesEngineer" class="ui search dropdown">
        <option value=""></option>
        <option value="AF">sfhkjs</option>
        <option value="AX">iud</option>
        <option value="AL">iouhj</option>
        <option value="DZ">wety</option>
      </select>
    </div>
    <div class="field">
      <label>Sales Access</label>
      <select formControlName="salesAccess" class="ui search dropdown">
        <option value=""></option>
        <option value="AF">ui</option>
        <option value="AX">hufhkj</option>
        <option value="AL">uhyjfynk</option>
        <option value="DZ">tybtd</option>
      </select>
    </div>
    <div class="field">
      <label>Collector</label>
      <select formControlName="collector" class="ui search dropdown">
        <option value=""></option>
        <option value="AF">kjwdkjm</option>
        <option value="AX">fvdns</option>
        <option value="AL">ioju</option>
        <option value="DZ">wetfwd</option>
      </select>
    </div>
  </div>
</div>