<div class="ui form">
  <div class="ui raised segment">
    <a class = "ui red ribbon label">Contact Billing/Payment</a>

    <div class = "two fields">
      <div class = "field">
        <label for = "first-name">First Name</label>
        <input formControlName="firstName" type = "text" id = "first-name">
      </div>
      <div class = "field">
        <label for = "last-name">Last Name</label>
        <input formControlName="lastName" type = "text" id = "last-name">
      </div>
    </div>

    <div class="field">
      <label for = "acc-title">Title</label>
      <input formControlName="title" type = "text" id = "acc-title">
    </div>

    <div class="two fields">
    <div class="field">
      <label>Job Function</label>
      <select formControlName="jobFunction" class="ui search dropdown">
        <option value=""></option>
        <option value="AF">sfhkjs</option>
        <option value="AX">iud</option>
        <option value="AL">iouhj</option>
        <option value="DZ">wety</option>
      </select>
    </div>
    <div class="field">
      <label>Department</label>
      <select formControlName="department" class="ui search dropdown">
        <option value=""></option>
        <option value="AF">ui</option>
        <option value="AX">hufhkj</option>
        <option value="AL">uhyjfynk</option>
        <option value="DZ">tybtd</option>
      </select>
    </div>
    </div>

    <div class = "two fields">
      <div class = "field">
        <label for = "work-phone">Work Phone</label>
        <input formControlName="workPhone" type = "text" id = "work-phone">
      </div>
      <div class = "field">
        <label for = "email">Email</label>
        <input formControlName="acc-email" type = "text" id = "email">
      </div>
    </div>

  </div>
</div>