<div>
 <div class="ui top attached demo menu">
   <a class="item" style="background-color: orangered" (click)="invertedSidebar.show({transition: 'overlay'})">
     <i class="sidebar icon"></i>
     BLiS
   </a>
   <div class="right menu">
     <div class="item">
       <div class="ui icon input">
         <input placeholder="Search..." type="text">
         <i class="search link icon"></i>
       </div>
     </div>
     <a class="ui item">
       {{'User Name '}}
       <i class="spy icon"></i>
     </a>
   </div>
 </div>

  <div class="ui bottom attached segment pushable">
    <sm-sidebar class="ui inverted labeled icon left inline vertical sidebar menu" style="" #invertedSidebar>
      <a class="item" style="background-color: orangered">
        BLiS
      </a>
      <a class="item" routerLink="/dashboard">
        <i class="dashboard icon"></i>
        Home
      </a>
      <a class="item" routerLink="/profile">
        <i class="user icon"></i>
        Profile
      </a>
      <a class="item" routerLink="/users">
        <i class="child icon"></i>
        Users
      </a>
      <a class="item" routerLink="/teams">
        <i class="users icon"></i>
        Teams
      </a>
      <a class="item" routerLink="/roles">
        <i class="travel icon"></i>
        Roles
      </a>
      <a class="item" routerLink="/realign">
        <i class="legal icon"></i>
        Realignment Tool
      </a>
      <a class="item">
        <i class="help icon"></i>
        Help
      </a>
      <a class="item">
        <i class="warning sign icon"></i>
        Report
      </a>
    </sm-sidebar>
  </div>
</div>
