<div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="item" (click)="newOrdersClicked()">
        New order
      </a>
      <a class="item" (click)="totalStatusClicked()">
        Total Status
      </a>
      <a class="item" (click) = "totalProcessClicked()">
        Total Processed
      </a>
      <a class = "item" (click) = "totalAcceptedClicked()">
        Accepted Orders
      </a>
    </div>
  </div>
  <div *ngIf="newOrdersChecked" class="twelve wide stretched column">
    <div class="ui segment">
      {{data.newOrders}}
    </div>
  </div>
  <div *ngIf="totalProcessedOrdersChecked" class="twelve wide stretched column">
    <div class="ui segment">
      {{data.processed}}
    </div>
  </div>
  <div *ngIf="acceptedOrdersChecked" class="twelve wide stretched column">
    <div class="ui segment">
      {{data.accepted}}
    </div>
  </div>
  <div *ngIf="totalEffectiveOrdersChecked" class="twelve wide stretched column">
    <div class="ui segment">
      {{data.effective}}
    </div>
  </div>
</div>

<br><br>

<div align="center">
  <div class="ui large button">
<a [routerLink]="['/vieworganization']">
  <div class = "ui icon button" data-tooltip="View organization"><i class="huge user icon"></i>
  </div>
</a>


<a [routerLink]="['/organization']">
  <div class = "ui icon button" data-tooltip="Organization"><i class="huge child icon" (onmouseover)="{selectedIcon : true}"></i>
  </div>
</a>

<a [routerLink]="['/orders']">
  <div class = "ui icon button" data-tooltip="Orders"><i class="huge users icon"></i>
  </div>
</a>

<a [routerLink]="['/accounts']">
  <div class = "ui icon button" data-tooltip="Accounts"><i class="huge archive icon"></i>
  </div>
</a>

<a [routerLink]="['/CMTAlignment']">
  <div class = "ui icon button" data-tooltip="CMT Alignment"><i class="huge travel icon"></i>
  </div>
</a>
</div>
</div>







