<p>Orders Count</p>
<div class="ui form">
  <form [formGroup]="orderCountFormGroup">
    <div class="ui three column grid">
      <div class="column">
        <div class="ui segment">
          <div class="field">
            <p>Total Status New Orders</p>
            <div class="ui disabled input">
              <input formControlName="newOrders" [(ngModel)]="data.newOrders" type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <div class="field">
            <p>Total Status Pending Correction Orders</p>
            <div class="ui disabled input">
              <input formControlName="newOrders" [(ngModel)]="data.pendingCorrections" type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <div class="field">
            <p>Total Outstanding</p>
            <div class="ui disabled input">
              <input formControlName="newOrders" [(ngModel)]="data.outStanding" type="text">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui three column grid">
      <div class="column">
        <div class="ui segment">
          <div class="field">
            <p>Total Status Accepted Orders</p>
            <div class="ui disabled input">
              <input formControlName="newOrders" [(ngModel)]="data.accepted" type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <div class="field">
            <p>Total Status Pending Effective Orders</p>
            <div class="ui disabled input">
              <input formControlName="newOrders" [(ngModel)]="data.effective" type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <div class="field">
            <p>Total Processed</p>
            <div class="ui disabled input">
              <input formControlName="newOrders" [(ngModel)]="data.processed" type="text">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<br><br>

<div align="center">
  <div class="ui large button">
    <a [routerLink]="['/vieworganization']">
      <div class = "ui icon button" data-tooltip="View organization"><i class="huge user icon"></i>
      </div>
    </a>


    <a [routerLink]="['/organization']">
      <div class = "ui icon button" data-tooltip="Organization"><i class="huge child icon"></i>
      </div>
    </a>

    <a [routerLink]="['/orders']">
      <div class = "ui icon button" data-tooltip="Orders"><i class="huge users icon"></i>
      </div>
    </a>

    <a [routerLink]="['/accounts']">
      <div class = "ui icon button" data-tooltip="Accounts"><i class="huge archive icon"></i>
      </div>
    </a>

    <a [routerLink]="['/CMTAlignment']">
      <div class = "ui icon button" data-tooltip="CMT Alignment"><i class="huge travel icon"></i>
      </div>
    </a>
  </div>
</div>






